<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap-rtl.min.css">
    <style>
      @font-face {
        font-family: 'Amiri';
        font-style: normal;
        font-weight: 400;
        src: url("http://localhost:3000/fonts/amiri-regular.ttf") format("truetype");
      }
      body {
        font-family: 'Amiri';
      }
      .fontSize{
        font-size: 21px;
      }
      .fontSizeBody{
        font-size: 17px;
        line-height: 30px;
      }
    </style>
    <meta charset="utf-8"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div style="height: 55px;"></div>
          <div class="text-center fontSize">
            <div> وزارة التعليم العالى والبحث العلـمى </div>
            <div> الهيئة الوطنية للتعليم التقنى والفني </div> 
            <div> ادارة المعاهد التقنية العليا </div>
            <div> المعهد العالي للـمهن الطبية القره بوللي </div>
            <div style="height: 25px;"></div>
          </div>
          <div class="pull-right fontSizeBody">
            <span>إشاري<span> : ................................. </span></span>
          </div>
          <div class="text-left fontSizeBody">
            <span>التاريـخ<span> : ...../....../.....20  </span></span>
          </div>
          <div style="height: 10px;"></div>
          <div class="row text-center" >
            <h2> إفادة تخرج </h2>
          </div>
          <div style="height: 40px;"></div>
            <div class="fontSizeBody">
              يفيدكم, مكتب التسجيل والدراسة والامتحانات بان 
              {{#if st.gender}}
                الطالبه 
              {{else}}
                الطالب
              {{/if}}<span>: {{st.first_name}} {{st.father_name}} {{st.grand_name}} {{st.last_name}} 
              </span>والمسجل تحت رقم القيد<span> : {{st.set_number}} ,</span>
              الجنسيه<span> : {{nat.name}} ,</span>
              الرقم الوطني <span> : {{st.nid}} </span>
              تاريـخ ومكان الميلاد <span> : {{st.place_birth}} / {{date}}</span> 
              <br/>
              قد أنهى جميع متطلبات التخرج للـحصول على درجة الدبلوم العالي في تخصص
              <span> : {{st.name}} ,</span> 
              للفصل الدراسي <span> : {{sem}} {{year}} ,</span> 
              بتقدير عام <span> : {{status}} ,</span> 
              وبمعدل تراكمي <span> : {{rat}}%</span> 
              <div style="height: 35px;" ></div>
              <div class="text-center">
                أعطيت هذه اﻹفادة بعد الاطلاع على الملف العـلـمي للـمعـنى لاستعمالها فيما يخوله القانون .
              </div>
            </div>
          <div style="height: 110px;"></div>
          <div class="row fontSizeBody" >
            <div class="col-xs-7 text-center " >
              <span> مدير مكتب التسجيل و الدراسة و الامتحانات </span>
              <div style="height: 10px;"></div>
              <span>...........................................</span>
            </div>
            <div class="col-xs-5 text-center" >
              <span> مدير عام المعهد </span>
              <div style="height: 10px;"></div>
              <span>...........................................</span>
            </div>
          </div>
          <div style="height: 135px;"></div>
          <div class="row text-right" >
            <h5 style="font-size: 13px;"><span> ملاحظة <span>:</span> أي كشط أو تغيير في هذه اﻹفادة يلغيها <span>.</span> </span></h5>
          </div>
        </div>
      </div>  
    </div>
  </body>
</html>