extends layout
block errorStyle
block cPanel-and-navbarCPanal-style
block navBar
block footer
block content
block navcPanel
  .container.font
    .row
      .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3.animated.fadeInDown
        .panel.panel-login
          br
          .text-center
            span.text-muted.h3 المعهد‪ ‬العالي‪ ‬للمهن‪ ‬الطبية‪ ‬القره‪ ‬بوللي‬
          hr
          .panel-heading
            .text-center
              span.text-muted.h4 شاشة الدخول
              //- .col-xs-6
              //-   a#registerFormLink(href="#") تسجيل
          .panel-body
            .row
              .col-lg-12
                form#loginForm(action="/login", method="post", role="form", style="display: block;")
                  .form-group.text-center
                    input#username.form-control(type="text", name="username", tabindex="1", placeholder="اسم المستخدم")
                  .form-group.text-center
                    input#password.form-control(type="password", name="password", tabindex="2", placeholder="كلمة المرور")
                  //- .form-group.text-center
                  //-   input#remember(type="checkbox", tabindex="3", name="remember")                    
                  //-   | 
                  //-   label(for="remember")  ذكرني
                  .form-group
                    .row
                      .col-lg-12
                        .text-center
                          input#loginSubmit.form-control.btn.btn-login(type="submit", name="login-submit", tabindex="4", value="تسجيل الدخول")
                  //- .form-group
                  //-   .row
                  //-     .col-lg-12
                  //-       .text-center
                  //-         a#forgetFormLink.forgot-password(href="#", tabindex="5") هل نسيت كلمة المرور؟
                form#registerForm(action="", method="post", role="form", style="display: none;")
                  .form-group.text-center
                    input#username.form-control(type="text", name="username", tabindex="1", placeholder="اسم المستخدم", value="")
                  .form-group.text-center
                    input#email.form-control(type="email", name="email", tabindex="1", placeholder="البريد الالكتروني", value="")
                  .form-group.text-center
                    input#password.form-control(type="password", name="password", tabindex="2", placeholder="كلمة المرور")
                  .form-group.text-center
                    input#confirmPassword.form-control(type="password", name="confirmPassword", tabindex="2", placeholder="تأكيد كلمة المرور")
                  .form-group
                    .row
                      .col-lg-12
                        .text-center
                          input#register-submit.form-control.btn.btn-register(type="submit", name="register-submit", tabindex="4", value="سجل الان")
                form#forgetForm(action="", method="post", role="form", style="display: none;")
                  .col-xs-12#form-heder !استعادة كلمة المرور
                  .form-group
                    .row
                      .col-xs-12
                        .text-center
                          input#email.form-control(type="text", name="email", tabindex="1", placeholder="ادخل البريد الالكتروني")
                  .form-group
                    .row
                      .col-lg-12
                        .text-center
                          input#forgetSubmit.form-control.btn.btn-danger(type="submit", name="forget-submit", tabindex="2", value="استعادة")
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/authentication.js')