<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap.min.css">
    <style>
      body {
        font-family: Times, "Times New Roman", Georgia, serif;
        padding: 0 0 0 0;
      }
      .col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10{
        padding: 0 0 0 0;
        margin-top: -5px;
        margin-bottom: -5px;
      }
      h4{
        line-height: 30px;
      }
      b{
        font-weight: 600;
      }
    </style>
    <meta charset="utf-8"/>
  </head>
  <body>
    <div class="container">
      <div style="height: 50px;"></div>
      <div class="row" style="font-size:17px;font-weight: 500;">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="text-center">
            <span> Minstry of Higher Education and Scientific Research </span>
          </div>
          <div class="text-center">
            <span> National Board for Technical & Vacational Education </span>
          </div>
          <div class="text-center">
            <span> Higher Technical Institutions Administration </span>
          </div>
          <div style="height: 7px;"></div>
          <div class="text-center">
            <span> Elgarabuli High Institute of Medical Vocations </span>
          </div>
          <div style="height: 13px;"></div>
          <div class="pull-right">
            <span>Date :.... /.... /.........</span>
          </div>
          <div class="pull-left">
            <span>Ref No :.................</span>
          </div>
          <div style="height: 50px;"></div>
          <div class="text-center">
            <h1 style="font-size:45px; font-weight: 500;"> Graduation Certitcate </h1>
            <div style="height: 5px;"></div>
            <h2 style="font-size:29px;"> This is to certify that: </h2>
          </div>
          </div>
      </div>
      <div style="height: 30px;"></div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h4>
            The collge of Elgarabuli High Istitute of Meducal Vocations have conferred upon <b>{{st.first_name_en}} {{st.father_name_en}} {{st.grand_name_en}} {{st.last_name_en}}</b>,
            enrollment no. <b>{{st.set_number}}</b>,
            nationality : <b>{{nat.name_en}}</b>,
            Date & Place of birth : <b>{{date}} / Tripoli</b> ,
            national no. <b>{{st.nid}}</b>,
            the degree of higher
            diploma, department : <b>{{st.namede}}</b>,
            division : <b>{{st.name_en}}</b>,
            semester : <b>{{sem_en}}</b>,
            Academic year : <b>{{year}}</b>,
            percentage : <b>{{rat}}</b>%,
            General grad : <b>{{status_en}}</b>
          </h4>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
          <div style="height: 40px;"></div>
          <h4 class="text-center">This certificate has been given to (him/her) after perusal of the scientific
            file of the student
          </h4>
          <div style="height: 30px;"></div>
          <h4>
            This certificate is issuse to be used in legal purposes.
          </h4>
        </div>
        <div style="height: 45%;"></div>
        <div class="col-xs-6">
          <h5 class="text-center">
            Institute Registrar
          </h5>
          <h5 class="text-center">
            ....................................
          </h5>
        </div>
        <div class="col-xs-6">
          <h5 class="text-center">
            Dean of Institute
          </h5>
          <h5 class="text-center">
            ......................................
          </h5>
        </div>
      </div>
  </body>
</html>