<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap-rtl.min.css">
    <style>
      @font-face {
        font-family: 'Amiri';
        src: url("http://localhost:3000/fonts/amiri-regular.ttf") format("truetype");
      }
      body {
        font-family: 'Amiri';
      }
      .fontSize{
        font-size: 19px;
      }
    </style>
    <meta charset="utf-8"/>
  </head>
  <body>
    <div class="container">
      <div style="height: 45px;"></div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="row">
            <div class="col-xs-3 text-right">
              <!-- <h1>Logo R</h1> -->
            </div>
            <div class="col-xs-6">
              <div style="height: 30px;"></div>
              <div class="text-center">
                <span class="fontSize">الهئية الوطنية للتعليم التقني والفني</span>
              </div>
              <div class="text-center">
                <span class="fontSize">إدارة المعاهد التقنية العليا</span>
              </div>
              <div class="text-center">
                <span class="fontSize">المعهد العالي للـمهن الطبية القره بوللي </span>
              </div>
            </div>
            <div class="col-xs-3 text-left">
              <!-- <h1>Logo L</h1> -->
            </div>
          </div>
          <div style="height: 30px;"></div>
          <div class="row text-center" >
            <h2> شهادة تخرج </h2>
          </div>
          <div style="height: 20px;"></div>
          <div class="row text-center">
            <span class="fontSize"> يشهد المعهد العالي  للـمهن الطبية القره بوللي بأن </span>
          </div>
          <div style="height: 35px;"></div>
          <div class="row text-center">
            <span class="fontSize"> أسم الطالب </span>
          </div>
          <div style="height: 35px;"></div>
          <div class="row text-center fontSize">
            <span> قد تحصل على الدبلوم العالي المعتمد من قبل الهيئة الوطنية للتعليم التقني والفني بقسم <span>.................</span> 
              <div>شعبة <span>.............</span> 
                بالفصل الدراسي <span>..............</span>
              </div>
            </span>
          </div>
          <div style="height: 35px;"></div>
          <div class="row text-center fontSize">
            <span> التاريـخ  يوم <span>/</span> شهر <span>/</span> سنة  </span>
          </div>
          <div style="height: 55px;"></div>
          <div class="row text-right" >
            <span> مدير مكتب التسجيل والدراسة والامتحانات </span>
          </div>
          <div class="row text-left">
            <span> مدير عام المعهد </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>