extends layout
block authenticationStyle
block errorStyle
block content
  .container
    .row
      .col-md-6
        .pull-right
          .btn-group.btn-breadcrumb
              a.btn.btn-default(href="/cPanel")
                i.glyphicon.glyphicon-home
              a.btn.btn-default(href="/facultyMember") عرض المحاضرين
              .btn.btn-default.active إضافة محاضر/ة جديد
      br
      br
      br
      .col-md-6.col-md-offset-2
        form.form#newFacultyMember(action="/facultyMember/addFacultyMembers", method="post", accept-charset="utf-8", role="form")
          legend  إضافة محاضر/ة جديد
            .pull-left
              a.btn.btn-primary(href='/facultyMember', role='button')
                span.glyphicon.glyphicon-th-list
                span  عرض المحاضرين
          .form-group
            .row
              .col-xs-6.col-md-6
                label اسم المحاضر/ة
                input#name.form-control(type="text", name="name", placeholder="اسم المحاضر/ة")
              .col-xs-6.col-md-6
                label المؤهل العلمي
                input#qualification.form-control(type="text", name="qualification", placeholder="المؤهل العلمي")
          .form-group
            .row
              .col-xs-6.col-md-6
                label القسم
                select.form-control.selectpicker#DepartmentId(name="DepartmentId", data-live-search="true", data-size=5)
                  option(value="", style='color:grey; display:none;') الرجاء اختيار القسم...
                  for department in departments
                    option(value="#{department.id}") #{department.name}
              .col-xs-6.col-md-6
                label التخصص
                input#specialization.form-control(type="text", name="specialization", placeholder="التخصص")
          .form-group
            .row
              .col-xs-6.col-md-6
                label الجنس
                select.form-control.selectpicker#gender(name="gender")
                  option(value="", style='color:grey; display:none;') الرجاء اختيار الجنس...
                  option(value="0") ذكر
                  option(value="1") انثي
              .col-xs-6.col-md-6
                label الجنسية
                select.form-control.selectpicker#nationality(name="nationality", data-live-search="true", data-size=5)
                  option(value="", style='color:grey; display:none;') الرجاء اختيار الجنسية...
                  for nat in nationalityJade
                    option(value="#{nat.id}") #{nat.name}    
          .form-group
            .row
              .col-xs-6.col-md-6
                label تاريخ الميلاد
                .input-group.date#birth_date
                  input.form-control.prevent(type="text", name="birth_date", placeholder="تاريخ الميلاد")
                  span.input-group-addon.success
                    span.fa.fa-calendar
              .col-xs-6.col-md-6
                label مكان الميلاد
                input.form-control#place_birth(name="place_birth", type="text", placeholder="مكان الميلاد")
          .form-group
            .row
              .col-xs-6.col-md-6
                label عنوان اﻹقامة
                input#physical_address.form-control(type="text", name="physical_address", placeholder="عنوان اﻹقامة")
              .col-xs-6.col-md-6
                label رقم الهاتف
                input.form-control#phone(name="phone", type="text", placeholder="رقم الهاتف")
          hr
          .col-xs-2.col-xs-offset-5.col-md-2.col-md-offset-5
            button.btn.btn-primary(type="submit")
              | إضافة
    br
    br
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/helpers.js')
  script(src='/js/newFacultyMember.js')
  script.
    $(function () {
      $('#birth_date').datetimepicker({
        useCurrent: false,
        viewMode: 'years',
        format: 'YYYY-MM-DD',
        locale: 'ar-sa'
      });
    });