extends layout
block authenticationStyle
block errorStyle
block content
  .container
    .row
      .col-md-6
        .pull-right
          .btn-group.btn-breadcrumb
            a.btn.btn-default(href="/cPanel")
              i.glyphicon.glyphicon-home
            a.btn.btn-default(href="/location") عرض القاعات الدراسية
            .btn.btn-default.active إضافة قاعة دراسية
      br
      br
      br
      .col-md-6.col-md-offset-2
        form.form#newLocation(action="/location/newLocation", method="post", accept-charset="utf-8", role="form")
          legend  إضافة قاعة جديدة
            .pull-left
              a.btn.btn-primary(href='/location', role='button')
                span.glyphicon.glyphicon-th-list
                span  عرض القاعات الدراسية
          .form-group
            .row
              .col-xs-6.col-md-6
                label.h4 اسم القاعة
                input.form-control#name(type="text", name="name", placeholder="اسم القاعة")
              .col-xs-6.col-md-6
                label.h4 كمية استعاب الطلبة
                input.form-control#quantity(type="text", name="quantity", placeholder="كمية استعاب الطلبة")
          br
          hr
          .col-xs-2.col-xs-offset-5.col-md-2.col-md-offset-5
            button.btn.btn-primary(type="submit") إضافة
    br
    br
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/jquery.validate.min.js')    
  script(src='/js/backToTop.js')
  script(src='/js/helpers.js')
  script(src='/js/newLocation.js')