extends layout
block authenticationStyle
block errorStyle
block content
  .container
    .row
      .col-md-6
        .pull-right
          .btn-group.btn-breadcrumb
            a.btn.btn-default(href="/cPanel")
              i.glyphicon.glyphicon-home
            a.btn.btn-default(href="/semester") عرض اﻷنظمة الدراسية
            .btn.btn-default.active إضافة نظام دراسي
      br
      br
      br
      .col-md-6.col-md-offset-2
        form.form#newSemester(action="/semester/newSemester", method="post", accept-charset="utf-8", role="form")
          legend  إضافة نظام دراسي
            .pull-left
              a.btn.btn-primary(href='/semester', role='button')
                span.glyphicon.glyphicon-th-list
                span  عرض اﻷنظمة الدراسية
          .form-group
            .row
              .col-xs-6.col-md-6
                label.h4 نظام الدراسة
                select.form-control.selectpicker#system_type(name="system_type")
                  option(value="", style='color:grey; display:none;') اختر النظام الدراسي...
                  option(value="1") فصل
                  option(value="2") سنة
              .col-xs-6.col-md-6#sem_type
                label.h4 الفصل الدراسي
                select#sem_type_value.form-control.sem_type.selectpicker(name="sem_type")
                  option(value="", style='color:grey; display:none;') اختر الفصل الدراسي...
                  option(value="1") ربيعي
                  option(value="2") خريفي
                  option(value="3") صيفي
          .form-group
            .row
              .col-xs-6.col-md-6
                label.h4 يبدأ النظام الدراسي
                .input-group.date#starting_date
                  input.form-control.prevent#startDate(type="text", name="starting_date", placeholder="تاريخ بداية النظام الدراسي")
                  span.input-group-addon.success
                    span.fa.fa-calendar
              .col-xs-6.col-md-6
                label.h4 ينتهي النظام الدراسي
                .input-group.date#ending_date
                  input.form-control.prevent(type="text", name="ending_date", placeholder="تاريخ نهاية النظام الدراسي")
                  span.input-group-addon.success
                    span.fa.fa-calendar
          .form-group
            .row
              .col-xs-6.col-xs-offset-3.col-md-6.col-md-offset-3
                label.h4 سنة النظام  الدراسي
                .input-group.date#year
                  input#year_value.form-control.prevent(name="year",type="text", placeholder="سنة النظام الدراسي")
                  span.input-group-addon.success
                    span.fa.fa-calendar
          hr
          .col-xs-2.col-xs-offset-5.col-md-2.col-md-offset-5
            button#addSemester.btn.btn-primary(type="submit")
              i.fa.fa-plus
              span  إضافة
    br
    br
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/helpers.js')
  script(src='/js/newSemester.js')
  script.
    $(function () {
      $('#year').datetimepicker({
        useCurrent: false,
        viewMode: 'years',
        format: 'YYYY'
      });
      $('#starting_date, #ending_date').datetimepicker({
        useCurrent: false,
        viewMode: 'years',
        format: 'YYYY-MM-DD',
        locale: 'ar-sa'
      });
      $('.selectpicker').selectpicker().change(function(){
        $(this).valid()
      });
    });