extends layout
block authenticationStyle
block errorStyle
block content
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          a.btn.btn-default(href="/student") عرض الطلبة المسجلين
          .btn.btn-default.active تسجيل طالب/ة جديد
        br
        br
        form#newStudent(action="/student/newStudent", method="post", accept-charset="utf-8", role="form")
          legend  تسجيل طالب/ة جديد
            .pull-left
              a.btn.btn-primary(href='/student', role='button')
                span.glyphicon.glyphicon-th-list
                span  عرض الطلاب
          .pull-right.i.fa.fa-star-o(style="color: red;position: absolute;") 
            span.font  حقول اجبارية
          h4.text-center بيانات اسم الطالب - Data student's name
          hr
          .form-group
            .row
              .col-xs-3.col-md-3
                label
                  i.fa.fa-star-o
                  span  اسم الطالب/ة
                input#first_name.form-control(type="text", name="first_name", placeholder="اسم الطالب/ة")
              .col-xs-3.col-md-3
                label
                  i.fa.fa-star-o
                  span  اسم اﻷب
                input#father_name.form-control(type="text", name="father_name", placeholder="اسم اﻷب")
              .col-xs-3.col-md-3
                label
                  i.fa.fa-star-o
                  span  اسم الجد
                input#grand_name.form-control(type="text", name="grand_name", placeholder="اسم الجد")
              .col-xs-3.col-md-3
                label
                  i.fa.fa-star-o
                  span  اللقب
                input#last_name.form-control(type="text", name="last_name", placeholder="اللقب")
          .form-group
            .row
              .col-xs-3.col-md-3
                label.pull-left Surname
                input#last_name_en.form-control(type="text", name="last_name_en", placeholder="Surname", dir="ltr")
              .col-xs-3.col-md-3
                label.pull-left Grandfather name
                input#grand_name_en.form-control(type="text", name="grand_name_en", placeholder="Grandfather name", dir="ltr")
              .col-xs-3.col-md-3
                label.pull-left Father name
                input#father_name_en.form-control(type="text", name="father_name_en", placeholder="Father name", dir="ltr")
              .col-xs-3.col-md-3
                label.pull-left Student name
                input#first_name_en.form-control(type="text", name="first_name_en", placeholder="Student name", dir="ltr")
          hr
          h4.text-center البيانات الاساسية - Basic information
          hr
          .form-group            
            .row
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  اسم اﻷم
                input#mother_name.form-control(type="text", name="mother_name", placeholder="اسم اﻷم")
              .col-xs-3.col-md-3
                label.pull-left Mother name
                input#mother_name_en.form-control(type="text", name="mother_name_en", placeholder="Mother name", dir="ltr")
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  مكان الميلاد
                input#place_birth.form-control(type="text", name="place_birth", placeholder="مكان الميلاد")
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  سنة الميلاد
                .input-group.date#birth_date
                  input.form-control.prevent(type="text", name="birth_date", placeholder="سنة الميلاد")
                  span.input-group-addon.success
                    span.fa.fa-calendar
          .form-group
            .row
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  الجنسية
                select.form-control.selectpicker#nationality(name="nationality", data-live-search="true", data-size=10)
                  option(value="", style='color:grey; display:none;') الرجاء اختيار الجنسية...
                  for nat in nats
                    option(value="#{nat.id}") #{nat.name}
              .col-xs-3.col-md-3
                label
                  i.fa.fa-star-o
                  span  الجنس
                select.form-control.selectpicker#gender(name="gender")
                  i.fa.fa-star-o
                  option(value="", style='color:grey; display:none;') الرجاء اختيار الجنس...
                  option(value="0") ذكر
                  option(value="1") انثي
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  رقم ورقة العائلة
                input#no_paper_family.form-control(type="text", name="no_paper_family", placeholder="رقم ورقة العائلة")
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  رقم قيد العائلة
                input#no_reg_family.form-control(type="text", name="no_reg_family", placeholder="رقم قيد العائلة")
          hr
          h4.text-center البيانات الثانوية - Secondary data
          hr
          .form-group
            .row
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  عنوان اﻹقامة
                input#physical_address.form-control(type="text", name="physical_address", placeholder="عنوان اﻹقامة")
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  السجل المدني
                input#civil_reg.form-control(type="text", name="civil_reg", placeholder="السجل المدني")
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  رقم الهاتف
                input#phone.form-control(type="text", name="phone", placeholder="رقم الهاتف")
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  مكان عمل اﻷب
                input#father_work_place.form-control(type="text", name="father_work_place", placeholder="مكان عمل اﻷب")
          .form-group
            .row
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  الرقم الوطني
                input#nid.form-control(type="text", name="nid", placeholder="الرقم الوطني")
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  اخر شهادة
                input#last_cert.form-control(type="text", name="last_cert", placeholder="اخر شهادة")
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  تخصيص اخر شهادة
                input#cust_last_cert.form-control(type="text", name="cust_last_cert", placeholder="تخصيص اخر شهادة")
              .col-xs-3.col-md-3
                label 
                  i.fa.fa-star-o
                  span  تاريخ الحصول علي الشهادة
                .input-group.date#date_cert
                  input.form-control.prevent(type="text", name="date_cert", placeholder="تاريخ الشهادة")
                  span.input-group-addon.success
                    span.fa.fa-calendar
          .form-group
            .row
              .col-xs-5.col-md-3.col-md-offset-2
                label 
                  i.fa.fa-star-o
                  span  مكان الحصول علي الشهادة
                input#place_cert.form-control(type="text", name="place_cert", placeholder="مكان الحصول علي الشهادة")
              .col-xs-4.col-md-3
                label 
                  i.fa.fa-star-o
                  span  رقم القيد
                input#set_number.form-control(type="text", name="set_number", placeholder="رقم القيد")
              .col-xs-3.col-md-2
                label 
                  i.fa.fa-star-o
                  span  معدل الطالب
                input#student_rate.form-control(type="text", name="student_rate", placeholder="معدل الطالب")
          hr
          .col-xs-2.col-xs-offset-4.col-md-2.col-md-offset-5
            button.btn.btn-primary.btn-lg(type="submit")
              | تسجيل - Register
  br
  br
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/helpers.js')
  script(src='/js/newStudent.js')
  script.
    $(function () {
      $('#birth_date').datetimepicker({
        useCurrent: false,
        viewMode: 'years',
        format: 'YYYY'
      });
      $('#date_cert').datetimepicker({
        useCurrent: false,
        viewMode: 'years',
        format: 'YYYY-MM-DD',
        locale: 'ar-sa'
      });
    });