extends layout
block authenticationStyle
block errorStyle
block content
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          .btn.btn-default تنزيل المواد
          .btn.btn-default.active عرض الطلبة
        br
        br
        #Semesters_teble  
          .panel.panel-default
            .panel-heading
              .row
                .pull-right(style="margin-right: 10px;")
                  h3#h3.panel-title عرض فصول الطالب  
                .pull-left(style="margin-left: 15px;")
                  a.btn.btn-success(href='/transcript/studentData/', role='button',data-toggle='modal')
                    i.fa.fa-arrow-left
                    span  رجوع          
            .table-responsive
              table.table.table-bordred.table-striped.text-right
                thead
                  
                  th.text-center أسم المادة
                  th.text-center رمز المادة
                  th.text-center أعمال السنة
                  th.text-center درجة النهائية
                  th.text-center تعديل
                  th.text-center اسقاط
                  th.text-center حذف
            
                  tr(data-id = '')
                    
                    td 
                    td 
                    td 
                    td 
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="تعديل")  
                        a.btn.btn-primary.btn-xs(value="",data-title="Delete", data-toggle="modal", data-target="#Show_Semester")
                          span.glyphicon.glyphicon-eye-open
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="تعديل")  
                        a.btn.btn-success.btn-xs(value="",data-title="Delete", data-toggle="modal")
                          span.glyphicon.glyphicon-hand-down  
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="تعديل")  
                        a.btn.btn-danger.btn-xs(value="",data-title="Delete", data-toggle="modal")
                          span.glyphicon.glyphicon-trash                      

  #Show_Semester.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      form.form(action="#", method="post",accept-charset="utf-8", role="form")
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4#Heading.modal-title.custom_align تعديل فصل دراسي
          .modal-body
            .form-group
              .row
                .col-xs-6.col-md-6
                  lable أسم المادة
                  input.form-control#sub_name(type="text", name="sub_name", value="", placeholder="اسم المادة")
                .col-xs-6.col-md-6 
                  lable رمز المادة
                  input.form-control#sub_cade(type="text", name="sub_code", value="", placeholder="رمز المادة")
            .form-group
              .row
                .col-xs-6.col-md-6
                  lable أعمال السنة
                  input.form-control#chapter_degree(type="text", name="chapter_degree", value="", placeholder="أعمال السنة")
                .col-xs-6.col-md-6 
                  lable درجة النهائي
                  input.form-control#final_exam(type="text", name="final_exam", value="", placeholder="درجة النهائي")
          .modal-footer
            button.btn.btn-primary.btn-lg(type="button", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign    
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/helpers.js')
  script(src='/js/studentData.js')
