extends layout
block authenticationStyle
block content
  .container.font
    .row
      .col-md-10
        #calendar
    br
    br
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/moment.min.js')
  script(src='/js/fullcalendar.min.js')
  script(src='/js/lang-all.js')
  script(src='/js/testCustomJs.js')
    