extends layout
block authenticationStyle
block content
  .container
    .row
      .col-md-10
        #calendar
    br
    br
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/fullcalendar.min.js')
  script(src='/js/lang-all.js')
  script(src='/js/timelines.js')
  script(src='js/backToTop.js')
    